{% extends 'base.html' %}
{% block title %}
Configure Study
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Configure {% block shotType %} {% endblock %} Shot Type</h2>
        </div>
    </div>
    <div class="row">
        <form action="" method="post" class="form-control">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.shotType.label}}
                {{form.shotType()}}
            </div>
            <div class="form-group">
                {{form.whiteBalance.label}}
                {{form.whiteBalance()}}
            </div>
            <div class="form-group">
                {{form.illuminationType.label}}
                {{form.illuminationType()}}
            </div>
            <div class="form-group">
                {{form.gain.label}}
                {{form.gain()}}
            </div>
            <div class="form-group">
                {{form.saturation.label}}
                {{form.saturation()}}
            </div>
            <div class="form-group">
                {{form.shutterSpeed.label}}
                {{form.shutterSpeed()}}
                {% if error %}
                <div class="alert alert-danger">{{error["shutterSpeed"][0]}}</div>
                {% endif %}
            </div>
            {% block form %}
            {% endblock %}
            <div class="form-group">
                {{form.submit()}}
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Current Study Profile</h2>
        </div>
        {% if studyAdded %}
        <div class="alert alert-success">Study profile added successfully.</div>
        {% endif %}
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th scope="col"></th>
        <th scope="col">Study Profile</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for index, study in enumerate(studies) %}
        <tr>
            <td>{{str(index+1)}}</td>
            {% for key, value in study.items() %}
            <td>{{str(key) + ": " +str(value)}}</td>
            {% endfor %}
            {% for x in range(8-len(study)) %}
            <td></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}