<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', filename='bootstrap.css') }}"
      rel="stylesheet"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            alt=""
            src={{ url_for('static', filename="default.png")}}
            height="75rem"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/"
                >All Images</a
              >
            </li>
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Study Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/study/single">Single</a></li>
            <li><a class="dropdown-item" href="/study/burst">Burst</a></li>
            <li><a class="dropdown-item" href="/study/telescopic">Telescopic</a></li>
            <li><a class="dropdown-item" href="/study/timeLapse">Time Lapse</a></li>
            <li><a class="dropdown-item" href="/study/video">Video</a></li>
          </ul>
        </li>
	    <li class="nav-item">
	     <a class="nav-link" aria-current="page" href="/save">Save Study Profile</a> 
	    </li>
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Search
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/search/id">Single</a></li>
            <li><a class="dropdown-item" href="/search/shotType">Shot Type</a></li>
            <li><a class="dropdown-item" href="/search/illuminationType">Illumination Type</a></li>
            <li><a class="dropdown-item" href="/search/date">Date</a></li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </nav>
   {% block body%} {% endblock %} 
    <script
      src="{{ url_for('static', filename='bootstrap.js') }}"
    ></script>
  </body> 
</html>
