{% extends 'base.html' %}
{% block title %}
M.O.S.I.S Host Software Home Page
{% endblock %}
{% block body %}
    <div class="container">
      {% for index, MediaEntry in enumerate(MediaEntries) %}
      {% if index%4 == 0 -%}
      <div class="row">
	{% endif %}
        <div class="col-lg-3 col-sm-6">
          <div class="card" style="width: ">
            <img
              alt=""
              class="card-img-top"
              src={{ url_for('static', filename=getAllMediaMetadataId(db,MediaEntry.entryId)[0].leftCameraMedia.split("/").pop()) }}/>
            <div class="card-body" >
	      <a href={{"/entry/" + str(MediaEntry.entryId)}} class="streched-link">
	      {{"{}-{}-{}-{}-{}-{}-{}-{}".format(MediaEntry.entryId,MediaEntry.shotType,MediaEntry.time,MediaEntry.illuminationType,MediaEntry.iso,MediaEntry.apertureSize,MediaEntry.shutterSpeed,MediaEntry.whiteBalance)}}
</a>
	    </div>
          </div>
        </div>
      {% if index%4 == 3 -%}
      </div>
      {% endif %}
      {% endfor %}
    </div>
{% endblock %} 

