{% extends 'base.html' %}
{% block title %}
Save Study
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
      <div class="col-6">
	<h2>Current Study Profile</h2>
      </div>
    </div>
    <div class="row">
      <form method="post", action="/save">
      <input class="btn btn-primary" type="submit" value="Save Study Profile">
      </form>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <th scope="col"></th>
        <th scope="col">Study Profile</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        {% for index, study in enumerate(studies) %}
        <tr>
            <td>{{str(index+1)}}</td>
            {% for key, value in study.items() %}
            <td>{{str(key) + ": " +str(value)}}</td>
            {% endfor %}
            {% for _ in range(8-len(study)) %}
            <td></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
