{% extends 'base.html' %}
{% block shotTypeCustom %}
<div class="row">
    <div class="col">
      <div class="card">
        <div class="ratio ratio-16x9">
          <iframe src="https://www.youtube.com/embed/Wt58h0hGwWY?si=gshsPtOQkOCd54ay" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
